<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">
	<Appenders>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="logs/app.log" filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="40" />
		</RollingRandomAccessFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="consoleOut" level="info"
			additivity="false">
			<Appender-Ref ref="Console" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="RollingRandomAccessFile" level="warn" />
			<AppenderRef ref="Console" level="trace" />
		</Root>
	</Loggers>
</Configuration>
